body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	background-color: #dbdfe2;
}

.mcgovernPanelTab {
	background-color: #dce0e3;
	background-image: url('../img/stripes.png');
	margin: 0;
	cursor: pointer;
	color: #000000;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	text-align: center;
	border: 3px solid rgb(167, 167, 167);
	width: 45%;
	margin: auto;
}
.mcgovernPanelTab:hover {
	color: #000000;
	background-color:#dce0e3;
	transition: .5s;
}
.mcgovernPanelContent {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	height: 160px;
	background: url(../img/bg-accordion.jpg);
}
.highlight {
	color: rgb(255, 255, 255);
	background-color:#000000;
	border: 3px solid rgb(255, 255, 255);
}
.lws-title {
	font-family: 'Contrail One';
	padding-top: 5px;
}
.lws-text {
	font-family: 'Share Tech Mono', monospace;
	background-color: #dce0e3;
	text-align: center;
	border: 3px solid rgb(167, 167, 167);
	width: 45%;
	margin: auto;
	color: rgb(0, 0, 0);
}
.navbg1 {
	background-color: #c6c9cc;
	border-bottom: 3px solid #c8ccce;
}
.navbg2 {
	background-color: #d9dcdf;
	border-bottom: 3px solid rgb(202, 202, 202);
}
.regbgborder {
	border: 3px solid rgb(167, 167, 167);
	background-color: #d9dcdf;
	width: 55%;
	height: 100%;
}
.imgborder {
	border: 7px solid rgb(167, 167, 167);
	border-radius: 10px;
	width: 600px;
}
::selection {
	background: rgb(160, 160, 160);
  }